<div class='header'>
    <h1>What does Numerology say about YOU?</h1>
</div>
<hr />
<h1><%= "#{@person.first_name} #{@person.last_name}" %></h1>
<h4><%= "Birthdate: #{@person.birthdate.strftime("%B")} #{@person.birthdate.strftime("%d")}, #{@person.birthdate.strftime("%Y")}" %></h4>
<div class='well'>
    <p><%= "Your numerology number is #{@birth_path_number}." %><br>
    <%= @message %>
    </p>
</div>